.container {
  max-width: 250px;
  margin: 0 auto;
  border: 2px solid black;
  border-radius: 10px;
  margin-bottom: 32px;
}
.imgContainer {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
  background-color: black;
}
.name {
  font-size: 20px;
  font-weight: 700;
}
.text {
  font-size: 16px;
  color: gray;
}
.list {
  display: flex;
  justify-content: center;
  background-color: darkgray;
}
.item {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 10px;
  border: 1px solid gray;
  border-bottom: none;
}
.item:first-child {
  border-left: none;
}
.item:last-child {
  border-right: none;
}
.itemText {
  font-size: 16px;
}
.itemNumber {
  font-weight: 700;
}
